.section{
    border: 1px slid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0vw 0vw 2vh 2vw;
  }
  .attribution{
    float:right;
    width: 15vw;
    height: fit-content;
    border:1px solid rgb(30, 130, 220);
    border-radius: 0.5vh;
    color: rgb(30, 130, 220);
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin:10px 10px 0px 0px;
    padding: 5px;
  }
  .title{
    font-weight: 600;
  }
  .lvl1{
    color:rgb(30, 110, 200);
    font-size: 22px;
    margin: 0vw 0vw 2vh 1vw;
  }
  .lvl2{
    color:rgb(30, 130, 220);
    font-size: 20px;
    margin-bottom: 1.5vh;
  }
  .lvl3{
    color:rgb(30, 150, 200);
    font-size: 18px;
    margin-bottom: 1.5vh;
  }
  .name{
    font-size: 14px;
    font-weight: bold;
  }