<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Pathogenicity Calculator">
    <meta name="author" content="Milinkov Miroslav Persida DOO">
    <meta name="keywords" content="Pathogenicity Calculator,ClinGen,Persida DOO">

    <meta property="og:title" content="Pathogenicity Calculator">
    <meta property="og:url" content="http://www.pathogenicity-calculator.com">
    <meta property="og:site_name" content="Pathogenicity Calculator">
    <meta property="og:type" content="website">
    <meta name="twitter:title" content="Pathogenicity Calculator">
    
    <!-- native CSS -->
    <link rel="stylesheet" type="text/css" href="../style/report.css"/>

    <title>PC Report</title>
</head>
<body>
    <!-- PAGE -->
    <div id="page">
      <!-- CONTENT -->
    <div class="attribution">
      <span>¤ Report generated dynamically by BCM's <code>ClinGen Pathogenicity Calculator</code>.</span>
      <span>¤ Powered by <a href="http://genboree.org" target="_blank">Genboree</a>.</span>
    </div>
    
    <!-- ALLELE INFORMATION -->
    <div class="lvl1 title">Allele Information</div>
      <!-- ALLELE REGISTRY ID -->
      <div id="alleleRegID" class="section">
        <span class="lvl2 title">Allele Registry ID</span>
        <span class="value">http://reg.genome.network/allele/CA321211</span>
      </div>
      
      <!-- HGVSes -->  
      <div id="hgvs" class="section">
        <span class="lvl3 title">HGVS</span>
        <span class="value">NC_000011.10:g.68032291C&gt;T, CM000673.2:g.68032291C&gt;T, NC_000011.9:g.67799758C&gt;T, CM000673.1:g.67799758C&gt;T, NC_000011.8:g.67556334C&gt;T, NG_017040.1:g.6675C&gt;T, ENST00000313468.10:c.64C&gt;T, ENST00000313468.9:c.64C&gt;T, ENST00000432321.6:n.181C&gt;T, ENST00000453471.6:c.64C&gt;T, ENST00000525419.5:c.56-632C&gt;T, ENST00000525628.1:c.64C&gt;T, ENST00000526339.5:c.64C&gt;T, ENST00000526446.5:c.64C&gt;T, ENST00000528492.1:c.-67+1558C&gt;T, ENST00000529645.1:n.55C&gt;T, ENST00000531228.1:c.119C&gt;T, ENST00000531796.1:n.221C&gt;T, ENST00000532399.1:n.85C&gt;T, NM_002496.3:c.64C&gt;T, XM_005274013.1:c.64C&gt;T, XM_005274014.1:c.64C&gt;T, XM_005274015.1:c.-244C&gt;T, XM_011545053.1:c.64C&gt;T, NM_002496.4:c.64C&gt;T</span>
      </div>
      
      <!-- GENE -->  
      <div id="gene" class="section">
        <span class="lvl2 title">Gene</span>
        <span class="value">NDUFS8</span>
      </div>
      
      <!-- PHENOTYPE -->  
      <div id="phenotype" class="section">
        <span class="lvl2 title">Phenotype</span>
        <span class="value">Hearing loss</span>
      </div>
      
      <!-- INHERITANCE -->  
      <div id="inheritance" class="section">
        <span class="lvl2 title">Mode of Inheritance</span>
        <span class="value">Autosomal Dominant</span>
      </div>
      
    <!-- EVIDENCE -->
    <div class="lvl1 title">Evidence</div>
      
      <!-- TAGS & INFO -->
        <!-- TAG -->  
      <div class="section">
        <span class="lvl3 title">BS1-Supporting</span>
        <div class="attrs">
          <div class="attr"><span class="name">Category :</span> <span class="value">Benign » Supporting » Population Data</span></div>
          <div class="attr"><span class="name">ACMG Text :</span> <span class="value">BS1 downgraded in strength to supporting</span></div>
          <div class="attr"><span class="name">User Summary :</span> <span class="value"></span></div>
        </div>
      </div>
    
      <!-- TAG -->  
      <div class="section">
        <span class="lvl3 title">BS2</span>
        <div class="attrs">
          <div class="attr"><span class="name">Category :</span> <span class="value">Benign » Strong » Population Data</span></div>
          <div class="attr"><span class="name">ACMG Text :</span> <span class="value">Observed in a healthy adult individual for a recessive (homozygous), dominant (heterozygous), or X-linked (hemizygous) disorder, with full penetrance expected at an early age</span></div>
          <div class="attr"><span class="name">User Summary :</span> <span class="value"></span></div>
        </div>
      </div>
      
    <!-- ASSERTION / REASONING -->
    <div class="lvl1 title">Assertions and Reasoning</div>
        <!-- Final Call & Relevant Rules -->
        <div id="finalCall" class="section">
          <span class="lvl3 title">Final Call : <span class="value">Likely Benign</span></span>
            <div class="attrs">
              <div class="attr"><span class="name">Rules Passed :</span>
                <ul class="values attr list">
                  <li class="value item">Benign.Strong ==1 &amp; Benign.Supporting ==1</li>
                </ul>
              </div>
            </div>
        </div>  
      
        <!-- Other Assertions -->
        <div id="otherAssertions" class="section">
            <span class="missing">(No other assertions made)</span>        
        </div>
    </div>

    <link href="/redmine/plugin_assets/sidebar_hide/stylesheets/sidebar_hide.css?1563285878" media="screen" rel="stylesheet" type="text/css">
    <script src="/redmine/plugin_assets/sidebar_hide/javascripts/sidebar_hide.js?1563285878" type="text/javascript"></script>

    <div style="clear:both;"></div>
</body>
</html>